# .env.example

# Database connection URL
DATABASE_URL="postgres://username:password@localhost:5432/dbname"  # Example of the database connection.

# Secret used for signing JWTs and sessions
NEXTAUTH_SECRET="your-nextauth-secret"  # Secret to protect your NextAuth session.

# URL for the NextAuth application
NEXTAUTH_URL="https://example.com"  # The URL of your NextAuth application.

# Secret used for seeding data
SEED_SECRET="your-seed-secret"  # Secret to secure seeding operations.

# Node environment
NODE_ENV="development"  # Running in development mode.
